body
{
   background-color: #DDCCB8;
      display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;  
        overflow-y: scroll;
}

.tela
{
    margin-top: 300px;
}

